# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare binary files that must not be modified
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary